* {
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

.main{
  background: #f8f8f8;
  .mainVisual{
    width: 100%;
    height: 100vh;
    background-image: image-url("top-image.jpeg");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    .content {
      max-width: 1280px;
      width: 100%;
      margin: 0 auto;
      position: absolute;
      bottom: 40px;
      left: 20px;
      &__subtitle {
        text-shadow: rgba(0,0,0,4) 0 0 5px;
        font-size: 30px;
        line-height: 1.2;
        color: #fff;
      }
      &__text {
        text-shadow: rgba(0,0,0,4) 0 0 5px;
        font-size: 18px;
        line-height: 1.77778;
        color: #fff;
        margin: 16px 0 0 0;
      }
    }
  }
  .Middle{
    padding: 60px 20px;
    .blogs{
      text-align: center;
      font-size: 26px;
      line-height: 1.4;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
    }
    .blogs::after {
      content: "";
      width: 70px;
      height: 4px;
      background-color: crimson;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    .blogbox{
      max-width: calc(1040px + 20px);
      width: 100%;
      height: 300px;
      margin: 0 auto;
      flex-wrap: wrap;
      background-color:#EFEFEF;
      border-color: crimson;
      .blogdiary{
        padding-top: 10px;
      }
      a{
        text-decoration: none;
        .blogtitle{
          font-weight: bold;
          border-bottom: solid 3px #c79f62;
           &:hover{
           color: crimson;
           cursor: pointer;
          }
        }
      }
    }
    .contentbox{
      padding: 30px 0;
      display: flex;
      position: relative;
      .work-img{
        background-image: image-url("work-image.jpeg");
        height: 300px;
        width: 500px;
        &:hover{
          cursor: pointer;
        }
        .works{
          text-align: center;
          font-weight: bold;
          font-size: 30px;
          text-shadow: rgba(0,0,0,4) 0 0 5px;
          line-height: 100px;
          color: #fff;
          height: 100px;
          position: absolute;
          bottom: 10px;
          left: 20px;
        }
      }
      .about-imag{

        .about{
          text-align: center;
          width: 50%;
          font-weight: bold;
          font-size: 20px;
          text-shadow: rgba(0,0,0,4) 0 0 5px;
          line-height: 100px;
          color: #fff;
          background-color: blue;
          height: 100px;
        }
      }
    }
  }
}